<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Werkplekdiensten</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Werkplekdiensten</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7f168b5994b04e62b8e302d3726b294a.png" alt="Werkplekdiensten" usemap="#id-7f168b5994b04e62b8e302d3726b294amap"/>
			   <map name="id-7f168b5994b04e62b8e302d3726b294amap">
				  		<area shape="rect" coords="394,160,514,215" href="../elements/id-a6b04976c2624cf4a4a63a83dfe64fbe.html"  target="element">
				  		<area shape="rect" coords="394,82,514,137" href="../elements/id-5c8fe801893d40119cea792b8656cf56.html"  target="element">
				  		<area shape="rect" coords="250,406,370,461" href="../elements/id-c62c57ab700446f8a98391354f3403ae.html"  target="element">
				  		<area shape="rect" coords="250,346,370,401" href="../elements/id-ab02551fd2904f32b21e213dbdf4da11.html"  target="element">
				  		<area shape="rect" coords="250,286,370,341" href="../elements/id-aefcb3f17ae8461ba8b7e897041a8fde.html"  target="element">
				  		<area shape="rect" coords="70,406,190,461" href="../elements/id-6bc7b1994c274c858ce42e90adcf9909.html"  target="element">
				  		<area shape="rect" coords="70,286,190,341" href="../elements/id-574ee9c11e7449f1b991d5d41e157187.html"  target="element">
				  		<area shape="rect" coords="70,346,190,401" href="../elements/id-efe6d10f365640969a52adddaf21bea7.html"  target="element">
				  		<area shape="rect" coords="190,214,310,269" href="../elements/id-af97ace190fd4b7187ca646921de8a5d.html"  target="element">
				  		<area shape="rect" coords="10,214,130,269" href="../elements/id-cdccddc1ce22403990ed657fd6ac576e.html"  target="element">
				  		<area shape="rect" coords="10,10,370,65" href="../elements/id-f25de49adc8b48d9b4c2cbdb8f5de94d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f25de49adc8b48d9b4c2cbdb8f5de94d.html" target="element"> Werkplekdiensten </a> </td>
											    <td> <a href="../elements/id-f25de49adc8b48d9b4c2cbdb8f5de94d.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cdccddc1ce22403990ed657fd6ac576e.html" target="element"> Moderne Werkplek </a> </td>
											    <td> <a href="../elements/id-cdccddc1ce22403990ed657fd6ac576e.html" target="element" class="i18n-elementtype-TechnologyFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-af97ace190fd4b7187ca646921de8a5d.html" target="element"> Applicatie Packaging </a> </td>
											    <td> <a href="../elements/id-af97ace190fd4b7187ca646921de8a5d.html" target="element" class="i18n-elementtype-TechnologyFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-efe6d10f365640969a52adddaf21bea7.html" target="element"> Liquit </a> </td>
											    <td> <a href="../elements/id-efe6d10f365640969a52adddaf21bea7.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-574ee9c11e7449f1b991d5d41e157187.html" target="element"> Netskope </a> </td>
											    <td> <a href="../elements/id-574ee9c11e7449f1b991d5d41e157187.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6bc7b1994c274c858ce42e90adcf9909.html" target="element"> Microsoft InTune </a> </td>
											    <td> <a href="../elements/id-6bc7b1994c274c858ce42e90adcf9909.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aefcb3f17ae8461ba8b7e897041a8fde.html" target="element"> Applicatie beoordeling </a> </td>
											    <td> <a href="../elements/id-aefcb3f17ae8461ba8b7e897041a8fde.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ab02551fd2904f32b21e213dbdf4da11.html" target="element"> Bedrijfsportaal App </a> </td>
											    <td> <a href="../elements/id-ab02551fd2904f32b21e213dbdf4da11.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c62c57ab700446f8a98391354f3403ae.html" target="element"> Applicatie Updates </a> </td>
											    <td> <a href="../elements/id-c62c57ab700446f8a98391354f3403ae.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5c8fe801893d40119cea792b8656cf56.html" target="element"> Rens </a> </td>
											    <td> <a href="../elements/id-5c8fe801893d40119cea792b8656cf56.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a6b04976c2624cf4a4a63a83dfe64fbe.html" target="element"> Kwok-Leung </a> </td>
											    <td> <a href="../elements/id-a6b04976c2624cf4a4a63a83dfe64fbe.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-92b839d4228b4c91bea7127349da4911.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-92b839d4228b4c91bea7127349da4911.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdccddc1ce22403990ed657fd6ac576e.html" target="element"> Moderne Werkplek </a> </td>
																		<td> <a href="../elements/id-f25de49adc8b48d9b4c2cbdb8f5de94d.html" target="element"> Werkplekdiensten </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-026fa5cc9d2743908a23ded73ee70739.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-026fa5cc9d2743908a23ded73ee70739.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-af97ace190fd4b7187ca646921de8a5d.html" target="element"> Applicatie Packaging </a> </td>
																		<td> <a href="../elements/id-f25de49adc8b48d9b4c2cbdb8f5de94d.html" target="element"> Werkplekdiensten </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3f404f378c8e48c8b01536327c848fed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f404f378c8e48c8b01536327c848fed.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-efe6d10f365640969a52adddaf21bea7.html" target="element"> Liquit </a> </td>
																		<td> <a href="../elements/id-cdccddc1ce22403990ed657fd6ac576e.html" target="element"> Moderne Werkplek </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a6f62c7bdc7e4926a041153fc264869c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a6f62c7bdc7e4926a041153fc264869c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-efe6d10f365640969a52adddaf21bea7.html" target="element"> Liquit </a> </td>
																		<td> <a href="../elements/id-af97ace190fd4b7187ca646921de8a5d.html" target="element"> Applicatie Packaging </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8b9d6b8dc85e44738bccdca7a54a769f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b9d6b8dc85e44738bccdca7a54a769f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-574ee9c11e7449f1b991d5d41e157187.html" target="element"> Netskope </a> </td>
																		<td> <a href="../elements/id-cdccddc1ce22403990ed657fd6ac576e.html" target="element"> Moderne Werkplek </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2b565ee477eb408689e3ac6a7aab3520.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b565ee477eb408689e3ac6a7aab3520.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bc7b1994c274c858ce42e90adcf9909.html" target="element"> Microsoft InTune </a> </td>
																		<td> <a href="../elements/id-cdccddc1ce22403990ed657fd6ac576e.html" target="element"> Moderne Werkplek </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e48991c208174df49b11d48010afba7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e48991c208174df49b11d48010afba7d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bc7b1994c274c858ce42e90adcf9909.html" target="element"> Microsoft InTune </a> </td>
																		<td> <a href="../elements/id-af97ace190fd4b7187ca646921de8a5d.html" target="element"> Applicatie Packaging </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1667668400944c1bbe279138621c0109.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1667668400944c1bbe279138621c0109.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aefcb3f17ae8461ba8b7e897041a8fde.html" target="element"> Applicatie beoordeling </a> </td>
																		<td> <a href="../elements/id-af97ace190fd4b7187ca646921de8a5d.html" target="element"> Applicatie Packaging </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-981586940bae44c1b53d4a7844da2035.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-981586940bae44c1b53d4a7844da2035.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ab02551fd2904f32b21e213dbdf4da11.html" target="element"> Bedrijfsportaal App </a> </td>
																		<td> <a href="../elements/id-af97ace190fd4b7187ca646921de8a5d.html" target="element"> Applicatie Packaging </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-745425bde56249bf84cc56964f626576.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-745425bde56249bf84cc56964f626576.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c62c57ab700446f8a98391354f3403ae.html" target="element"> Applicatie Updates </a> </td>
																		<td> <a href="../elements/id-af97ace190fd4b7187ca646921de8a5d.html" target="element"> Applicatie Packaging </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-50376868b3f549baa2b527cd8f3f0f05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50376868b3f549baa2b527cd8f3f0f05.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c8fe801893d40119cea792b8656cf56.html" target="element"> Rens </a> </td>
																		<td> <a href="../elements/id-cdccddc1ce22403990ed657fd6ac576e.html" target="element"> Moderne Werkplek </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d1d6a447834e4fc1af5bda6739b7b020.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d1d6a447834e4fc1af5bda6739b7b020.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6b04976c2624cf4a4a63a83dfe64fbe.html" target="element"> Kwok-Leung </a> </td>
																		<td> <a href="../elements/id-af97ace190fd4b7187ca646921de8a5d.html" target="element"> Applicatie Packaging </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>